	<div class="header">
		<h2>MEEZAO</h2>
		<div class="toolbar">
		  <ul>
			<li class="tool"><a href="#none"><i class="fa fa-envelope"></i></a></li>
			<li class="tool" style="min-width:70px;"> 
				<a href="#none" class="person_information"> <i class="fa fa-user"></i> 
				<span class="hidden-xs pl15"> {$user[0].name} </span>
				<span class="drop_tri">
				<i class="fa fa-caret-down" style="margin-left:5px;"></i>
				</span> 
				</a>

			  <ul class="drop_menu">
				<i class="fa fa-sort-up  triangle"></i>
				<li class="edit_account"><a href="/Simian/Auth/Login/Logout.html" class="personal_center"><span>退出账户</span></a></li>
				<li class="edit_account"><a href="/Simian/Auth/Login/Password_modify.html" class="personal_center"><span>修改密码</span></a></li>
				<li class="edit_account"><a href="/Simian/Auth/Login/Mobile_unbinding.html" class="personal_center"><span>手机号解绑</span></a></li>
<!--
				<li class="title"><a href="#none" class="personal_center"> <span>帐户设置</span></a></li>
				<li class="modification_account"><a href="#none" class="personal_center"><span>修改账户</span></a></li> -->
			  </ul>
			</li>
		  </ul>
		</div>
	 </div>
