<div class="nav_bar">
  <ul class="nav_bar_level1">
    <li>
    <a href="#"><span>student_a_1</span></a>
    <!--二级菜单-->
    <ul class="nav_bar_level2">
      <li>
      <a href="#none" class="">
        <span>student_a_2</span>
      </a>
      <ul class="nav_bar_level3">
        <!--三级菜单-->
        <li>
        <a href="/student_a.php" target="view_window" class="" name=""><i class="fa fa-circle"></i><span>student_a_3</span></a>
        </li>
      </ul>
      </li>
    </ul>
    </li>

    <li>
    <a href="#"><span>student_b_1</span></a>
    <!--二级菜单-->
    <ul class="nav_bar_level2">
      <li>
      <a href="#none" class="">
        <span>student_b_2</span>
      </a>
      <ul class="nav_bar_level3">
        <!--三级菜单-->
        <li>
        <a href="/student_b.php" target="view_window" class="" name=""><i class="fa fa-circle"></i><span>student_b_3</span></a>
        </li>
      </ul>
      </li>
    </ul>
    </li>

    <li>
    <a href="#"><span>student_c_1</span></a>
    <!--二级菜单-->
    <ul class="nav_bar_level2">
      <li>
      <a href="#none" class="">
        <span>student_c_2</span>
      </a>
      <ul class="nav_bar_level3">
        <!--三级菜单-->
        <li>
        <a href="/student_c.php" target="view_window" class="" name=""><i class="fa fa-circle"></i><span>student_c_3</span></a>
        </li>
      </ul>
      </li>
    </ul>
    </li>
  </ul>
</div>
