<div class="row header">
	<h2>MEEZAO</h2>

	<div class="toolbar">
		<a href="#none" class="fa fa-envelope-o toolbar_information_center"></a><!--
         --><div class="toolbar_item">
		<a href="#none" class="toolbar_person_information">
			<i class="fa fa-circle"></i>
			<span class="toolbar_user_name">{$user[0].name}</span>
		</a>
		<ul class="toolbar_drop_menu">
			<li class="toolopr_modify_password" data-toggle="modal" data-target=".modal_modify_password">修改密码</li>
			<li class="toolopr_phone_solution" data-toggle="modal" data-target=".modal_phone_solution">手机号解绑</li>
			<li class="toolopr_log_out">退出登录</li>
		</ul>
	</div>
	</div>
</div>




